<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523080119714-k27f63qsn78l1543jdk7nlcqk3pdd062.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523080119714-k27f63qsn78l1543jdk7nlcqk3pdd062</string>
	<key>API_KEY</key>
	<string>AIzaSyC3TF0uiixdDvlwBGDn9bYwr--Y8NjvFG0</string>
	<key>GCM_SENDER_ID</key>
	<string>523080119714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aaron.sub-manager</string>
	<key>PROJECT_ID</key>
	<string>sub-manager-79124</string>
	<key>STORAGE_BUCKET</key>
	<string>sub-manager-79124.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523080119714:ios:0ab353ef7071f4e9</string>
	<key>DATABASE_URL</key>
	<string>https://sub-manager-79124.firebaseio.com</string>
</dict>
</plist>